body{
    padding-top: 8vh;
}
.zoe-main{
    height: 50%;
    width: 100%;
}
.jhin-main{

}
.body-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.runes-img-main{
    height: 3rem;
}
.runes-img{
    height: 2rem;
    width: 2rem;
}
.fragment-img{
    height: 1.7rem;
    width: 1.7rem;
}
.off-img{
    opacity: 0.5;
}
.runes-row{
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------------
ZOE Flexbox
--------------------------------------------------------------------------------------------------------------------------------------------------- */
.zoe-flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    background-image: url(background_images/zoe_background.jpeg);
}
.zoe-runes{
    display: flex;
    width: 80%;
    height: 30rem;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0px 10px 0 rgb(201, 198, 198), 0 6px 30px 0 rgb(207, 205, 205);
    justify-content: center;
    align-items: center;
}
.zoe-items{
    display: flex;
    width: 80%;
    height: 30rem;
    background-color: rgba(235, 232, 232, 0.8);
    box-shadow: 0 0px 10px 0px rgb(201, 198, 198), 0 6px 30px 0 rgb(207, 205, 205);
    
}
.zoe-spells{
    display: flex;
    display: flex;
    width: 80%;
    height: 30rem;
    background-color: rgba(235, 232, 232, 0.8);
    box-shadow: 0 0px 10px 0px rgb(201, 198, 198), 0 6px 30px 0 rgb(207, 205, 205);
    margin-bottom: 5rem;
} 
/* ---------------------------------------------------------------------------------------------------------------------------------------------------
JHIN Flexbox
--------------------------------------------------------------------------------------------------------------------------------------------------- */  
.jhin-flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    background-image: url(background_images/jhin_background.jpeg);
}
.jhin-runes{
    display: flex;
    width: 80%;
    height: 30rem;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0px 10px 0 rgb(201, 198, 198), 0 6px 30px 0 rgb(207, 205, 205);
    margin-top: 5rem;
}
.jhin-items{
    display: flex;
    width: 80%;
    height: 30rem;
    background-color: rgba(235, 232, 232, 0.8);
    box-shadow: 0 0px 10px 0px rgb(201, 198, 198), 0 6px 30px 0 rgb(207, 205, 205);
}
.jhin-spells{
    display: flex;
    width: 80%;
    height: 30rem;
    background-color: rgba(235, 232, 232, 0.8);
    box-shadow: 0 0px 10px 0px rgb(201, 198, 198), 0 6px 30px 0 rgb(207, 205, 205);
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------------
ZOE Runes row
--------------------------------------------------------------------------------------------------------------------------------------------------- */
.zoe-runes-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.zoe-runes-primary{
    display: flex;
    width: 20%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.zoe-divider{
    display: flex;
    width: 5%;
    height: 100%;
}
.zoe-runes-secondary{
    display: flex;
    width: 20%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.zoe-fragments{
    display: flex;
    width: 20%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.zoe-runes-stats{
    display: flex;
    width: 15%;
    height: 100%;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------------
ZOE Runes row - PRIMARY ROW
--------------------------------------------------------------------------------------------------------------------------------------------------- */
.zoe-primary-row-1{
    display: flex;
    width: 100%;
}
.zoe-primary-row-2{
    display: flex;
    width: 100%;
}
.zoe-primary-row-3{
    display: flex;
    width: 100%;
}
.zoe-primary-row-4{
    display: flex;
    width: 100%;
}
.zoe-primary-row-5{
    display: flex;
    width: 100%;
}
