$content-box-width: 80%;
$content-box-shadow: 0 0px 10px 0 rgb(201, 198, 198), 0 6px 30px 0 rgb(207, 205, 205);

.zoe-runes{
    display: flex;
    width: $content-box-width;
    height: 30rem;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: $content-box-shadow;
    justify-content: center;
    align-items: center;
}
.zoe-items{
    display: flex;
    flex-direction: column;
    width: $content-box-width;
    height: 30rem;
    background-color: rgba(235, 232, 232, 0.8);
    box-shadow: $content-box-shadow;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}