.header{
    display: flex;
    width: 100%;
    background-color: $back-color;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.header-logo{
    height: 150px;
    width: 150px;
}

.header-buttons{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;

    div{
        padding: 1rem;
    }

    div:hover{
        background: $button-color;
        -webkit-transition: background-color 0.8s;
        -moz-transition: background-color 0.8s;
        -o-transition: background-color 0.8s;
        transition: background-color 0.8s;
    }
}

.header-burger-menu{
    display: none;
}

@media only screen and (max-width: 767px) {

    .header-buttons{
    display: none;
    }

    .header-burger-menu{
        display: block;
        margin-right: 2rem;
        img{
            height: 30px;
            width: 30px;
        }
    }

    .header-logo{
        width: 100px;
        height: auto;
        margin-top: 0.1rem;
        margin-bottom: 0.1rem;
    }

    .header{
        justify-content: space-between;
        width: 100%;
        padding: 0 5% 0 5%;
    }
}