.flex-container{
    display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 1200px;
  margin: auto;
  margin-top: 25%;
}
.flex-container > div{
    width: 100%;
    height: 250px;
    background-color: tan;
    text-align: center;
    border: 10px solid cadetblue;
    font-size: 30px;
    line-height: 250px;
}