@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');

*{
    font-family: 'Kanit';
}
body{
    background: rgba(232, 234, 230, 1);
}
.header{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-top{
    width: 100%;
    height: 70%;
    background: rgba(25, 50, 60, 1);
    display: flex;
    justify-content: center;
}

.header-top-box{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}

.header-top-logo{
    width: 50%;
    color: rgba(152, 68, 71, 1);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
}

.header-top-functions{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin-right: 10px;
}

#main-logo{
    height: 50px;
}

.header-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: rgba(152, 68, 71, 0.45);
    box-shadow: 0px 10px 50px rgba(152, 68, 71, 0.25), inset 0px 10px 50px rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
    gap: 1vw;
}

.header-bottom-item{
    font-weight: bold;
}

.header-bottom-item-line{
    width: 1px;
    height: 3vh;
    background: black;
}

#body{
    width: 100%;
    height: 100vh;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-content{
    width: 80%;
    height: 100%;
    background: rgba(25, 50, 60, 0.1);
    box-shadow: 0px 5px 2.5px rgba(152, 68, 71, 0.25), inset 0px 5px 25px rgba(0, 0, 0, 0.15);
}

.body-content-links{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#body-content-links-title{
    width: 100%;
    display: flex;
    justify-content: center;
}

.body-content-links-text{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.body-content-links-text-item{
 width: 15%;
}
